.App {
  text-align: left;
}

.card-updated-likes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-likes {
  background-color: rgb(228, 49, 49);
  border: solid 1px;
  border-radius: 5px;
  border-color: rgb(228, 49, 49);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: fit-content;
  padding: 0.5rem;
}

.clickable{
  cursor: pointer;
}

.login-form{
  max-width: 25rem;
}

.profile-container {
  max-width: 50rem;
}

.profile-desc-container{
  text-align: center;
}

.centered-container{
  display: flex;
  justify-content: space-around;
}

.profile-pic{
  max-width: 50%;
}